<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="broker.ip" value="127.0.0.1" />
		<add key="broker.port" value="1883" />
		<add key="entry_point" value="data/entrypoint" />
		<add key="max_topics" value="10" />

		<add key="db.url" value="mongodb://localhost:27017" />
		<add key="db.name" value="tiamat" />
		<add key="db.collection" value="events" />
	</appSettings>
</configuration>